@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif:wght@600&family=Playfair+Display&display=swap');
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Merriweather', serif;
  
}
kk{
  color: rgb(255, 184, 52);
}